<html>
   <head>
       <div>
       <title>GPA Calculator</title>
       </div>
       <link rel ="stylesheet" type= "text/css" href="css/style.css">
   </head>
   <body class=home>
       <h1 class=head>Welcome to GPA Calculator</h1>
       <p class=paragraph_1>  What is a GPA? A GPA is your grade point average. Your GPA is important because it plays a big factor into getting accepted into college.
       Colleges look at both the unweighted and weighted GPA. We created two calculators to show you each GPA. This calculator allows you to check your GPA throughout the year, so you will know if you're on track on reaching your goal.
       All you need to do is click on the GPA you want to find and fill out your current GPA, if you have one, and you grades for this semester.
       </p>
       <form method="post" action="/weighted_GPA">
       <input type="submit" value="weighted GPA">
       </form>
           <br>
       <form method="post" action="/unweighted">
       <input type="submit" value="unweighted GPA">
       </form>
